<section class="hero has-text-centered " id="home">
    <div class="hero-body">
      <div class="container">
        <h2 align="centered" class="title">COURSE NOTES</h2>
        <p>
            1 - INTRODUCTION [<a href="assets/slides/1.pdf">SLIDES</a>] <br>
            2 - SEMANTIC SEGMENTATION [<a href="assets/slides/2.pdf">SLIDES</a>]  <br>
            3 - UNSUPERVISED DOMAIN ADAPTATION FOR SEMANTIC SEGMENTATION [<a href="assets/slides/3.pdf">SLIDES</a>] <br>
            4 - STEREO MATCHING [<a href="assets/slides/4.pdf">SLIDES</a>] <br>
            5 - MONOCULAR DEPTH ESTIMATION <br>
            6 - MULTIPLE VIEWS AND MOTION
        </p>
    </div>
</div>
</section>